<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" [opened]="true">
    <div class="logo-container">
      space for logo
    </div>
    <ul>
      <li routerLink="/dashboard" routerLinkActive="active">
        <mat-icon fontIcon="space_dashboard"></mat-icon> 
        Dashboard
      </li>
      <li routerLink="/user" routerLinkActive="active">
        <mat-icon fontIcon="person"></mat-icon>
        User
      </li>
    </ul>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar>
      <mat-icon (click)="drawer.toggle()" fontIcon="menu" class="menu-icon"></mat-icon>
      <span>Simple CRM</span>
    </mat-toolbar>
    <div class="router-container">
      <router-outlet />
    </div>
  </div>
</mat-drawer-container>



