@if (user$ | async; as user) {
    <mat-card class="user-detail-header">
        <button mat-icon-button [matMenuTriggerFor]="addressMenu" class="dropdown-btn">
            <mat-icon>more_vert</mat-icon>
            <mat-menu #addressMenu="matMenu">
                <button mat-menu-item (click)="openUserEdit()">
                    <mat-icon>edit</mat-icon>
                    <span>Edit</span>
                </button>
            </mat-menu>
        </button>
        <div>
            <img src="assets/images/user-avatar.png" alt="">
            <div>
                <h3>{{ user.firstName }} {{ user.lastName }}</h3>
                <span>{{ user.email }}</span>
            </div>
        </div>
    </mat-card>
    <mat-card class="user-detail-address">
        <mat-card-content>
            <button mat-icon-button [matMenuTriggerFor]="addressMenu" class="dropdown-btn">
                <mat-icon>more_vert</mat-icon>
                <mat-menu #addressMenu="matMenu">
                    <button mat-menu-item (click)="openAddressEdit()">
                        <mat-icon>edit</mat-icon>
                        <span>Edit</span>
                    </button>
                </mat-menu>
            </button>
            
            <mat-card-title>Address</mat-card-title>
            <div class="flex-col">
                <span>{{ user.street }} {{ user.houseNumber }}</span>
                <span>{{ user.zipCode }} {{ user.city }}</span>
            </div>
        </mat-card-content>
    </mat-card>
} @else {
    <p>❌ User does not exist or could not be loaded.</p>
}