<mat-card class="user-detail-header">
    <div>
        <img src="assets/images/user-avatar.png" alt="">
        <div>
            <h3>Name der Person</h3>
            <span>E-Mail der Person</span>
        </div>
    </div>
</mat-card>
<mat-card class="user-detail-address">
    <mat-card-content>
        <mat-card-title>Address</mat-card-title>
        <div class="flex-col">
            <span>Straße & Hausnummer</span>
            <span>PLZ & Stadt</span>
        </div>
    </mat-card-content>
</mat-card>