<p>user works!</p>

<div>
    <mat-card>
        <table>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
            </tr>
            @for (item of users$ | async; track $index) {
                <tr>
                    <td>{{item.lastName}}, {{item.firstName}}</td>
                    <td>{{item.street}} {{item.houseNumber}}</td>
                    <td>{{item.city}}</td>
                </tr>
            }
        </table>
    </mat-card>
</div>

<button
    mat-fab
    matTooltip="Add a user"
    [matTooltipPosition]="'above'"
    class="person-add-btn"
    (click)="openDialog()">
    <mat-icon>person_add</mat-icon>
</button>
